
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog World || Login</title>
    <link rel="stylesheet" href="{% static "css/register.css" %}"> 
</head>
<body>
    <h2>Register Form</h2>
    <form action="" method="post">
        {% csrf_token %}

        {{ form.as_p }}
        <button type="submit">Register</button>  <!-- Changed to submit -->

    </form>
</body>
</html>
















