* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    background-color: rgba(206, 199, 199, 0.507);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .body{
    height: 30%;
    width: 80%;
    background-color: rgb(92, 115, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
   
    
  }
  .delBtn{
    height: 40px;
    width: 60px;
    background-color: rgb(248, 75, 75);
}
.backBtn{
    height: 40px;
    width: 60px;
    background-color: rgb(52, 131, 42);
}