body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, rgba(92, 115, 225, 0.8), rgba(155, 89, 182, 0.8)); 
    flex-direction: column;

}
.massageBox{
    height: 80px;
    width: 290px;
    background-color: rgb(74, 90, 160);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.massageBox ul p{
    color: #fff;
}



.container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 40px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #fff;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

button {
    background: rgba(92, 115, 225, 0.8); /* Theme color */
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}